<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="//unpkg.com/layui@2.9.3/dist/css/layui.css" rel="stylesheet">
    <script src="//unpkg.com/layui@2.9.3/dist/layui.js"></script>
    <style>
        .layui-form-label {
            width: 70px
        }
    </style>
</head>
<body>
<table class="layui-hide" id="point_table"></table>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
    </div>
    <form class="layui-form" lay-filter="add_window" id="add_window" style="padding:20px; display: none">
        <div class="layui-form-item">
            <label class="layui-form-label">区域</label>
            <div style="display: flex; align-items: center;">
                <div style="display: flex; align-items: center;">
                    <div class="layui-input-inline" style="width: 100px; margin-right: 10px;">
                        <select id="country" name="country" lay-filter="country" lay-verify="required"
                                lay-search=""></select>
                    </div>
                    <div class="layui-input-inline" style="width: 100px; margin-right: 10px;">
                        <select id="state" name="state" lay-filter="state" lay-verify="required" lay-search=""></select>
                    </div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <select id="city" name="city" lay-filter="city" lay-verify="required" lay-search=""></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline" style="width:320px;">
                <input type="text" id="name" name="name" lay-verify="required" placeholder="请输入" autocomplete="off"
                       class="layui-input" data-1p-ignore>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">舞台</label>
            <div class="layui-input-inline" style="width:120px;">
                <input type="text" id="stage" name="stage" placeholder="请输入" class="layui-input">
            </div>
            <label class="layui-form-label">门票</label>
            <div class="layui-input-inline" style="width:120px;">
                <input type="text" id="ticket" name="ticket" placeholder="请输入" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline" style="width:320px;">
                <textarea name="remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="submit_btn">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</script>
<script>
    layui.use(["table", "form", "dropdown"], function () {
        const $ = layui.$;
        const table = layui.table;
        const form = layui.form;
        const dropdown = layui.dropdown;


        const columns = [[
            {
                type: 'checkbox',
                fixed: 'left'
            },
            {
                field: 'id',
                title: 'ID',
                hide: true
            },
            {
                field: 'name',
                width: 200,
                title: '名称',
                sort: true,
                fixed: 'left',
                templet: function (d) {
                    return `<a class="layui-table-link" lay-event="detail">${d.name}</a>`;
                }
            },
            {
                field: 'country',
                width: 80,
                title: '国家',
                sort: true,
            },
            {
                field: 'state',
                width: 100,
                title: '州/省',
                sort: true,
            },
            {
                field: 'city',
                width: 120,
                title: '城市',
                sort: true,
            },
            {
                field: 'stage',
                width: 120,
                title: '舞台',
                sort: true,
            },
            {
                field: 'ticket',
                width: 100,
                title: '门票'
            },
            {
                field: 'remarks',
                width: 200,
                title: '备注'
            },
            {
                field: 'coordinates',
                width: 200,
                title: '坐标',
                templet: function (d) {
                    return `<a href="https://www.google.com/maps/search/${d.coordinates}" class="layui-table-link" target="_blank">${d.coordinates}</a>`;
                }
            },
            {
                field: 'duration',
                title: '游玩时长',
                hide: true
            },
            {
                field: 'google_map_url',
                width: 100,
                title: '地图链接',
                templet: function (d) {
                    return `<a href="${d.google_map_url}" class="layui-table-link" target="_blank">地图链接</a>`;
                }
            },
            {
                field: 'google_station_url',
                width: 100,
                title: '附近车站',
                templet: function (d) {
                    return `<a href="${d.google_station_url}" class="layui-table-link" target="_blank">附近车站</a>`;
                }
            },
            {
                field: 'google_street_view_url',
                title: '街景链接',
                hide: true
            },
            {
                field: 'images',
                title: '图片',
                hide: true
            },
            {
                field: 'create_time',
                width: 180,
                title: '创建时间',
                sort: true,
            },
            {
                field: 'last_update',
                width: 180,
                title: '更新时间',
                sort: true,
            },
        ]]

        // 创建渲染实例
        table.render({
            elem: '#point_table',
            url: '/point/all',
            method: 'post',
            autoSort: false, // 禁用前端自动排序。
            toolbar: '#toolbar', // 开启头部工具栏
            contentType: 'application/json',
            page: { // 支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip', 'refresh'], //自定义分页布局
                first: '首页',
                last: '尾页',
                groups: 5, //5个连续页码
                limit: 15, //每页显示条数
                limits: [10, 20, 30, 40, 50], //每页条数的选择项
            },
            cols: columns,
            height: 'full-0',
            even: true, // 开启隔行背景
        });
        const name_dropdown = dropdown.render({
            elem: '#name',
            style: 'min-width: 235px;',
            trigger: 'hover',
            click: function (data) {
                this.elem.val(data.title);

                updateCitySelectList('country', null, [data.country, data.state, data.city]);
            }
        });


        // -------------------------    一些事件

        // 触发排序事件
        table.on('sort(point_table)', function (obj) {
            table.reload('point_table', {
                initSort: obj, // 记录初始排序，如果不设的话，将无法标记表头的排序状态。
                where: { // 请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    field: obj.field, // 排序字段
                    order: obj.type // 排序方式
                }
            });
        });

        // 监听行工具事件
        table.on('tool(point_table)', function (obj) {
            const data = obj.data;
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    title: false, // 不显示标题栏
                    offset: 'r',
                    anim: 'slideLeft', // 从右往左
                    area: ['60%', '100%'],  // 宽高
                    shade: 0.1, // 遮罩
                    shadeClose: true,
                    id: 'detail_layer',
                    maxmin: true, // 最大化按钮
                    closeBtn: 0, // 关闭按钮
                    min: function (layero, index) {
                        // 不要最小化,直接关了罢
                        layer.close(index);
                        return false;
                    },
                    content: `/detail/${data.id}.html`,
                });
            }
        });

        // 监听头部工具栏事件
        table.on('toolbar(point_table)', function (obj) {
            // 根据不同的事件名进行相应的操作
            switch (obj.event) { // 对应模板元素中的 lay-event 属性值
                case 'add':
                    layer.open({
                        type: 1, //Page层类型
                        id: 'add_layer',
                        title: '新增',
                        offset: 'r', //右侧打开
                        anim: 'slideLeft', // 从右往左
                        area: ['450px', '100%'],  // 宽高
                        shade: 0.1, // 遮罩
                        scrollbar: false, // 禁止浏览器滚动
                        shadeClose: true, //点击遮罩关闭
                        content: $("#add_window")
                    });
                    break;
                case 'delete':
                    const checkData = table.checkStatus(obj.config.id).data; // 获取选中行数据
                    if (checkData.length === 0) {
                        return layer.msg('请选择一些删除');
                    }
                    layer.msg('假装删除了');
                    break;
                case 'update':
                    layer.msg('假装编辑了');
                    break;
            }
        });

        // 监听表单提交
        form.on('submit(submit_btn)', function (data) {
            const field = data.field; // 获取表单字段值
            // 显示填写结果，仅作演示用
            layer.alert(JSON.stringify(field), {
                title: '当前填写的字段值'
            });
            // 此处可执行 Ajax 等操作
            // …
            layer.close('add_layer'); // 关闭弹窗
            return false;
        });

        // 国家变更的时候，更新州/省的选择框
        form.on('select(country)', function (data) {
            $('#state').empty();
            $('#city').empty();
            updateCitySelectList('state', data.value);
        });
        // 州/省变更的时候，更新城市的选择框
        form.on('select(state)', function (data) {
            $('#city').empty();
            updateCitySelectList('city', data.value);
        });
        //监听输入名称时的提示事件
        let timer = null; // 防抖处理
        $(name_dropdown.config.elem).on('input propertychange', function () {
            const elem = $(this);
            const keyword = elem.val().trim();//获取输入的关键词
            clearTimeout(timer);
            timer = setTimeout(() => {
                if (keyword) {
                    $.ajax({
                        url: '/dropdown/name',
                        type: 'POST',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify({
                            name: keyword,
                        }),
                        success: function (data) {
                            let dataNew = []
                            if (!data.data.places || data.data.places.length === 0) {
                                console.log('没有places对象或者places为空');
                            } else {
                                dataNew = data.data.places.map(x => {
                                    // 过滤地址组件
                                    let locationString = x.location.latitude.toString() + ',' + x.location.longitude.toString();
                                    let returnObject = {
                                        title: x.displayName.text,
                                        formattedAddress: x.formattedAddress,
                                        googleMapsUri: x.googleMapsUri,
                                        location: locationString
                                    }
                                    let country = x.addressComponents.find(y => y.types.includes("country") && y.types.includes("political"));
                                    let state = x.addressComponents.find(y => y.types.includes("administrative_area_level_1") && y.types.includes("political"));
                                    let city = x.addressComponents.find(y => y.types.includes("locality") && y.types.includes("political"));
                                    // 判断三者是否都不为空
                                    if (country && state && city) {
                                        returnObject.country = country.longText;
                                        returnObject.state = state.longText;
                                        returnObject.city = city.longText;
                                    }
                                    // 返回处理后的新对象
                                    return returnObject;
                                });
                                console.table(dataNew);
                            }
                            dropdown.reloadData(name_dropdown.config.id, {
                                data: dataNew
                            });
                        }
                    });
                } else {
                    dropdown.reloadData(name_dropdown.config.id, {
                        data: [], // 匹配到的新数据
                    });
                }
            }, 500); // 此处的500毫秒就是你的延迟时间
        });


        // -------------------------    一些函数
        /**
         * 更新城市选择列表
         * @param {string} type - 提交请求的类型('country', 'state', or 'city')
         * @param {string} parent - 提交请求的父级名称
         * @param {Array} defaultOptions - 默认选项的数组
         */
        function updateCitySelectList(type, parent, defaultOptions) {
            // 如果`defaultOptions`存在且有元素，取其第一个元素作为默认选项，否则设为null
            let defaultOption = defaultOptions && defaultOptions.length > 0 ? defaultOptions.shift() : null;

            // 发送ajax请求
            $.ajax({
                url: '/city/list',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({
                    type: type,
                    parent: parent
                }),
                success: function (data) {
                    // 在返回的数据中找到与当前请求类型对应的选择元素
                    const select_element = $('#' + type);

                    // 如果没有默认选项且返回的数据有元素，把第一个元素设为默认选项
                    if (!defaultOption && data.data.length > 0) {
                        defaultOption = data.data[0].name;
                    }

                    // 遍历返回的数据，在选择列表中添加对应的选项
                    $.each(data.data, function (index, item) {
                        if (item.name === defaultOption) {
                            // 如果数据项的名字与默认选项匹配，把选项加入到选择列表中，并设置为选中
                            select_element.append(new Option(item.name, item.name, true, true));
                        } else {
                            // 否则，只是把选项加入到选择列表中
                            select_element.append(new Option(item.name, item.name));
                        }
                    });

                    // 刷新表单元素
                    form.render(select_element);

                    // 如果`defaultOptions`仍有剩余元素，或当前类型不是“city”，更新下一个选择列表
                    if ((defaultOptions && defaultOptions.length > 0) || type !== 'city') {
                        switch (type) {
                            case 'country': // 当前类型是'country'，更新'state'
                                updateCitySelectList('state', defaultOption, defaultOptions);
                                break;
                            case 'state': // 当前类型是'state'，更新'city'
                                updateCitySelectList('city', defaultOption, defaultOptions);
                                break;
                        }
                    }
                }
            });
        }

        function updateDropdownList(type) {
            $.ajax({
                url: '/dropdown/list',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({
                    type: type,
                }),
                success: function (data) {
                    select_element = $('#' + type);
                    dropdown.render({
                        elem: select_element,
                        data: data.data.map(item => ({title: item})),
                        click: function (obj) {
                            this.elem.val(obj.title);
                        },
                        style: 'min-width: 235px;'
                    });
                }
            });
        }


        // -------------------------    初始化
        // 初始化选择框的国家数据
        updateCitySelectList('country');
        // 初始化选择框的舞台数据
        updateDropdownList('stage');
        // 初始化选择框的舞台数据
        updateDropdownList('ticket');
    });
</script>

</body>
</html>